.about{
    padding-top: 80px;
    padding-bottom: 80px;
    &:hover .main-heading{
        color: $alt-light-color;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        img{
            max-width: 400px;
            border-radius: 35% 65% 65% 35% / 30% 52% 48% 70% ;
        }
        .text{
            padding: 40px;
            position: relative;
            &::before{
                content: "Who?";
                color: $alt-dark-color;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
                font-size: 10rem;
                font-weight: bold;
                opacity: 0.2;
            }
            h3{
                font-size: 2rem;
                margin: 10px 0;
                text-transform: capitalize;
                
               
            }
            p{
                line-height: 1.7;
                color: $light-color;
                margin: 10px 0 ;
                max-width: 500px;
            }
            p:last-of-type{
                color: $emphasis-color;
                font-weight: bold;
                text-transform: capitalize;
            }
            .media{
                display: flex;
                margin-bottom: 10px;
                li{
                    margin-right: 15px;
                    a{
                        font-size: 1.7rem;
                        color: $light-color;
                        transition: color .4s linear;
                        &:hover{
                            color: $alt-light-color;
                        }
                        
                    }
                }
            }
            // .more{
            //     background-color: $alt-dark-color;
            //     padding: 15px 35px;
            //     display: inline-block;
            //     color: $alt-light-color;
            //     border-radius: 3px;
            //     transition: 0.4s linear;
            //     &:hover{
            //         background-color: $emphasis-color;
            //         color: $alt-light-color;
            //     }
            // }
        }
    }
}