@import "./colors";
@import "./normalize";
@import "./container";
@import "./main-heading";
@import "./animations";



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    
}

body{
    background-color: $dark-color;
    color: $alt-light-color;
}

// Header
@import "./Header/header";

// Landing
@import "./Landing/landing";

// About
@import "./About/about";

// Skills
@import "./Skills/skills";